* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  font-family: Roboto, sans-serif;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

header {
  align-items: center;
  display: grid;
  font-weight: bold;
  grid-template-columns: 3fr 1fr;
  gap: 20px 30px;
  padding: 20px 30px;
  grid-column: 2 / -1;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

header img {
  border-radius: 50%;
}

header input[type="search"] {
  border: none;
  font-family: inherit;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #e2e8f0;
  border-radius: 100px;
  flex: 1;
}

.search {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-btns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.profile-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  font-size: 16px;
}

.user-info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.user-info span {
  font-size: 14px;
}

.user-info-text {
  display: grid;
  align-content: center;
  gap: 5px;
}

h2 {
  font-size: 24px;
}

header button {
  padding: 5px 25px;
  font-family: inherit;
  font-weight: inherit;
  font-size: 16px;
  border: none;
  border-radius: 100px;
}

.sidebar,
header button {
  color: white;
  background-color: #1992d4;
}

ul {
  list-style-type: none;
  line-height: 2;
}

li a,
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sidebar {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar nav {
  display: grid;
  gap: 30px;
}

.sidebar h1 {
  display: inline-block;
  font-size: 32px;
}

main {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px 30px;
  gap: 20px;
}

main h3 {
  margin-bottom: 10px;
}

.projects {
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-auto-rows: minmax(200px, 1fr);
  gap: 20px;
  flex: 1;
}

.card {
  border-radius: 15px;
  border-left: #f0b429 solid 10px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

.card p {
  color: grey;
}

.btns {
  margin-top: auto;
  display: flex;
  align-self: flex-end;
  gap: 10px;
}

.side-content {
  display: grid;
  gap: 30px;
}

.announcement-info {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

.announcement:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px rgb(223, 215, 215) solid;
}

.announcement:not(:first-child) {
  padding-top: 20px;
}

h5 {
  font-size: 16px;
  font-weight: bold;
}

.announcement p {
  font-size: 14px;
  color: grey;
}

.trending-main {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  display: grid;
  gap: 10px;
}

.profile {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
}

.profile-text {
  display: grid;
  font-size: 14px;
  align-content: center;
}

.project-name {
  color: grey;
}

.profile img {
  border-radius: 50%;
}

a,
.card {
  transition: all ease-out 0.1s;
}

a:hover,
.card:hover {
  box-shadow: 0 15px 80px rgba(0, 0, 0, 0.25);
  transition: all ease-in 0.1s;
  transform: scale(1.05);
}

button:hover {
  background-color: #19aad4;
}
